.header {
  width: 100%;
  min-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: #1f1f1f;
  border: 1px solid rgb(0, 0, 0, 0.125);
}
.header .navbar {
  background-color: #1d1d1d;
  width: 100%;
  height: 100%;
}
.header .logo h1 {
  font-size: 2rem;
}

/* ----------- Header Menu ---------- */
.header .menu li {
  opacity: 0.5;
}
.header .menu li.active {
  opacity: 1;
}
.header .menu .material-icons {
  font-size: 30px;
}
.header .menu .dropdown-menu {
  position: absolute;
  left: inherit;
  right: 0;
}
.header .menu label {
  cursor: pointer;
}

.header .menu .notify_length {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 10px;
}
